{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": {
      "node": true
    },
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules":  {
      "indent": ["error", 4, { "SwitchCase": 1 }],
      "comma-spacing": "error",
      "func-style": ["error", "expression", {
          "allowArrowFunctions": true
      }],
      "implicit-arrow-linebreak": ["error", "beside"],
      "key-spacing": ["error", {
          "beforeColon": false
      }],
      "linebreak-style": 0,
      "max-depth": ["error", 4],
      "max-nested-callbacks": ["error", 3],
      "no-lonely-if": "error",
      "no-tabs": "error",
      "semi": ["error", "always"],
      "space-before-blocks": "error",
      "space-infix-ops": "error",
      "brace-style": "error",
      "no-undef": "error",
      "no-unused-vars": "error",
      "no-unused-expressions": "error"
  },
}